{%extends "base.html"%} {%block content%}
<div class="container">
  <div class="section">
    <div class="columns is-vcentered">
      <div class="column">
        <figure class="image is-flex is-justify-content-center">
          <img class="is-rounded" src="{{config.profile_picture}}" />
        </figure>
      </div>
      <div class="column">
        <h2 class="title is-size-4 has-text-centered">{{config.name}}</h2>
        <div class="content has-text-justified">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
          Odit dolorum modi praesentium sint ad! Tenetur est maxime, 
          officiis magni tempore iste consequuntur, recusandae excepturi 
          doloremque, quasi nostrum quidem culpa id?
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
          Odit dolorum modi praesentium sint ad! Tenetur est maxime, 
          officiis magni tempore iste consequuntur, recusandae excepturi 
          doloremque, quasi nostrum quidem culpa id?
        </div>
      </div>
    </div>
  </div>
</div>
<style>
  .image img {
    width: auto;
    height: auto;
    max-width: 40%;
    max-height: 40%;
  }
</style>
{%endblock content%}
